=render 'templates/black_header'
.aboutme
  .aboutme__main
    .aboutme__main__word
      %h1 Masane Nagamine
      %br
      %h2 
        永峯 大愛(ながみね まさね、1997年生まれ) 福岡県福岡市出身。
        %br 福岡大学 人文学部 ドイツ語学科 卒業。5歳から新体操を始め高校では
        福岡を離れ長崎の高校へ進学。インターハイ、国体へ出場を果たした。
        %br 大学時代は外車ディーラーでアルバイト経験を積んだ。大学卒業後
        TechCampでプログラミングを学び現在に至る。
    = image_tag "uk.jpeg", class: "aboutme__main__img"
  