=render 'templates/white_header'
.skill
  .skill__main
    %p Skill
    %h2 2020/May - July
    %h3 
      プログラミングスクール
      %a{href: 'https://tech-camp.in/expert'}Tech Camp
      にてプログラミングを学習
    %h4 Tech Campでの学習経験
    %h5 Ruby on Rails、Javascriptを用いたフルスクラッチのアプリケーション開発及び
    %br AWSを用いたデプロイ
    %h6 Haml・SCSS・Ruby・Ruby on Rails・JavaScript・jQuery・GitHub・AWS 等の
    技術を用いた複合的機能の企画・実装
    %br
