.black-menu
  %h1 Profile
  .black-menu__btn
    =link_to "About Me", myself_index_path,class:"black-menu__btn--1"
    =link_to "Skill", skill_index_path, class:"black-menu__btn--1"
    =link_to "Contact", "#",class:"black-menu__btn--1"
    =link_to "Top Page", root_path, class:"black-menu__btn--1"