.menu
  %h1 Profile
  .menu__btn
    =link_to "About Me", myself_index_path,class:"menu__btn--1"
    =link_to "Contact", "#",class:"menu__btn--2"
    =link_to "Top Page", root_path, class:"menu__btn__3"