.white-menu
  %h1 Profile
  .white-menu__btn
    =link_to "About Me", myself_index_path,class:"white-menu__btn--1"
    =link_to "Skill", "#", class:"white-menu__btn--1"
    =link_to "Contact", "#",class:"white-menu__btn--1"
    =link_to "Top Page", root_path, class:"white-menu__btn--1"