.aboutme{
  background-color: black;
  &__main{
    display: flex;
    justify-content: space-between;
    &__word{
      padding: 550px 0px 0px 155px;
      h1{
        color: white;
        font-size: 24px;
      }
      h2{
        color:white;
      }
    }
    &__img{
      width: 465px;
      height: 650px;
      margin: 220px 200px 110px 0px;
    }
  }
}