.myself{
  position: relative;
  // overflow: scroll;
  &__main{
    position: absolute;
    top: 0px;
    &__image{
        width: 100vw;
        height: auto;
        position: relative;
    }
  }
}