.myself
  .myself__main
    .myself__image
      =image_tag "sakura.jpeg" ,class:"myself__main__image-item"
      =image_tag "flower.jpeg" ,class:"myself__main__image-item"
      =image_tag "sakura2.jpeg" ,class:"myself__main__image-item"
    %h1
      Masane Nagamine
      %br
      =link_to 'About Me',"#", class:"btn1"
