.myself
  .myself__main
<<<<<<< HEAD
    .myself__main__image
      =image_tag "sakura.jpeg" ,class:"myself__main__image--item"
      =image_tag "summer.jpeg" ,class:"muself__main__image--item"
    %h1
      Masane Nagamine
      %br
      =link_to 'About Me',"#", class:"btn1"
