@mixin white_all(){
  background-color: white;
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 140px;
  display: flex;
  justify-content: space-between;
  h1{
    margin-left: 100px;
    font-family: cursive;
    transform: scale(3.5,2);
    line-height: 140px;
  }
  &__btn{
    &--1{
      text-decoration: none;
      color: black;
      margin-right: 50px;
      line-height: 140px;
      font-size: large;
    }
  }
}